<div class="container">
     <div class="row">
        <div class="col-md-12">
                <p class="heading" align="center">
                   {{headline}}
                </p>
        </div>
      </div>
</div>
